* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 15px 30px;
  font-size: 17px;
  padding: 8px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

input[Type="text"],
input[Type="email"],
input[Type="number"],
input[Type="password"],
input[Type="date"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

fieldset {
  background-color: #f2f2f2;
  border: 1px solid gray;
  border-radius: 5px;

}

.main_heading {
  text-align: center;
}

input[type="submit"] {
  background-color: #4daea1;
  color: teal;
  padding: 10px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: yellowgreen;
}